# Copia a .env.local y rellena

NEXT_PUBLIC_SUPABASE_URL=https://TU_REF.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_...

# Opcional, solo backend
SUPABASE_SECRET_KEY=sb_secret_...

DATABASE_URL="postgresql://postgres:PASSWORD@db.TU_REF.supabase.co:5432/postgres"
