# dependencies
node_modules
/.next
/.next-build
/.next-old
/out

# env files
.env
.env.local
.env.*.local

# prisma generated
/src/generated

# misc
.DS_Store
*.tsbuildinfo
next-env.d.ts
.vercel

# notas internas (solo local, no versionar)
/docs/TAREAS.md
